#allIntegrantes{
    min-height: 500px;
    width: 100%;
    background:  linear-gradient(330deg, rgb(61, 115, 115), rgb(136, 141, 242));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.caixa_integrante {
    margin-top: 30px;
}
.integrante{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px;
    rotate: 45deg;
    box-shadow: 3px 0px 8px rgb(181, 0, 232);
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.integrante_img {
    width: 200px;
    rotate: -45deg;
    margin-top: -25px;
    margin-left: -25px;
}

.textos {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.textos h3 {
    font-family: 'Medula One';
    font-size: 35px;
    letter-spacing: 2px;
}

.textos p {
    font-size: 16px;
    text-align: center;
}

.redes_sociais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes_sociais img {
    width: 60px;
    padding: 5px;
}

.redes_sociais img:hover {
    opacity: 80%;
}